* {
  box-sizing: border-box;
  word-break: break-all;
  overflow-wrap: break-word;
  font-family: sans-serif;
  font-weight: bold
}

img {
  width: 100%;
  border: solid 1px;
  border-radius: 4px;
  border-color: #CACACA;
}

a {
  color: #333333;
  text-decoration-line: none;
}
span {
  color: #777777;
}

p {
  position: absolute;
  display: block;
}

li {
  list-style: none;
}

.octodex {
  display: inline;
}

.octocat {
  display: inline-block;
  width: 30%;
  margin: 8px;
}

.image-number {
  float: left;
  color: #CACACA
}

.image-caption {
  float: right;
}

.authors {
  display: inline-block;
  border: hidden;
}

.authors img {
  border: none;
  width: 20px
}
